.tituloProjeto{ 
    text-align: center;
    justify-content: center;
    color: burlywood;
}

.cabeçalho{

    text-align: center;


}

body{
    background: linear-gradient(90deg,rgb(43, 44, 44) 5%,rgb(233, 236, 236) 95%);


    

}
.caixaTarefa{
    border: 2px solid #fff;
    padding: 30px 40px;
    width: 40%;
    min-width: 500px;
    text-align: center;
    background-color: lightpink;
    justify-items: center;



 
}
.botao{
    flex: 1;
    border-radius: 2px;
    font-weight: 250;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: darkred;
    color: #fff;
    padding: 6px;
    margin-left: 6px;
    cursor: pointer;
    border-radius: 15px;
}